# Default Charset
AddDefaultCharset utf-8

# Disable Directory Listing
Options -Indexes

<ifModule mod_rewrite.c>

  # Base traffic on index.php
  RewriteEngine on
  RewriteRule ^$ app/public/ [L]
  RewriteRule (.*) app/public/$1 [L]

</IfModule>

RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]